{% extends "base.html" %}

{% block content %}
    <div class="column is-5 is-offset-4">
        <h3 class="title is-3">Register New Admin</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}
            <h3 class="title is-3">Register</h3>
            <div class="box">
                <form method="POST">
                    <div class="field">
                        {{ form.csrf_token() }}
                        <div class="control">
                            {{ form.username(class="input", placeholder="Email Address") }}
                            {% if form.username.errors %}
                                <p class="help is-danger">{{ form.username.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.password(class="input", placeholder="Password") }}
                            {% if form.password.errors %}
                                <p class="help is-danger">{{ form.password.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.confirm_password(class="input", placeholder="Confirm Password") }}
                            {% if form.confirm_password.errors %}
                                <p class="help is-danger">{{ form.confirm_password.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        {{ form.submit(class="button is-info is-centered") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
